//primary colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGrey: hsl(0, 0%, 55%);
$veryDarkGrey: hsl(0, 0%, 41%);

//grid hover colors
$lightwhite:  rgba(255,255,255,.7);
$blacklet: black;
$btnwhite: white;
$btnblack: black;

//font size
$fontS: 0.9375rem;
$fontH1Tag: 2.4375rem;
$fontH1TagDesktop: 2.3125rem;
$fontH2TagDesktop: 3rem;
$fontH2TagMobile: 2rem;

//fontweight
$medium: 400;
$small: 300;

//margin for fooooooooooooooter
$fdefault: 1.25rem;
$links: 30px;